body {
  font-family: "Trebuchet MS", Helvetica, Arial, "Verdana", "sans-serif";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.respondent-info {
  padding: 10px 15px;
  color: #999;
  font-size: 14px;
  border: 1px solid #dedede;
  background: #f5f5f5;
  text-align: left;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
}

.output-info {
  padding: 10px 15px;
  color: #999;
  font-size: 14px;
  border: 1px solid #dedede;
  background: #f5f5f5;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
}
.mainContainer {
  position: relative;
  width: 900px;
  height: 615px;
  margin: 20px auto;
  overflow: none;
  background: url(../images/header_bg.jpg) top no-repeat;
}

.header {
  width: 100%;
  height: 85px;
  /* background: url(../images/header_light.png) top right no-repeat; */
}
#shoppingCart {
  float: right;
  width: 534px;
  min-height: 440px;
  padding-left: 8px;
  background: url(../images/shopping_shelve.png) no-repeat;
}

.shoppingCart.custom-state-active {
  background: #eee;
}

.shoppingCart li {
  float: left;
  width: 96px;
  padding: 0.2em;
  margin: 0em 0.4em 0.8em 0em;
  text-align: center;
  position: relative;
  z-index: 85;
}

.shoppingCart li h5 {
  margin: 0 0 0.4em;
  cursor: move;
}

.shoppingCart li a {
  float: right;
  padding: 11px;
}

.shoppingCart li a.ui-icon-zoomin {
  float: left;
}

.shoppingCart li img {
  width: 100%;
  cursor: move;
}

.getdropval {
  width: 95px;
  height: 34px;
  padding: 0.5em 0 0 0.25em;
  position: absolute;
  left: 80px;
  bottom: 220px;
  z-index: 25;
  background: url(../images/viewcart.png) no-repeat;
  font-size: 15px;
  color: #f8f8f8;
  cursor: pointer;
}

.outputbox {
  width: 300px;
  height: 85px;
  margin: 50px 0 0 54px;
}

.mainprice {
  width: 192px;
  height: 65px;
  float: left;
}

.pricebox {
  width: 190px;
  height: 49px;
  float: left;
  background: url(../images/totaldisplay.png) no-repeat;
  margin-top: 15px;
}

.pricebox .Tprice {
  text-align: center;
  font-family: "Arial";
  font-size: 15px;
  color: #ffffff;
  top: 12px;
  left: 23px;
  position: relative;
  /* font-style: italic;*/
}

.pricedisplay {
  width: 85px;
  height: 85px;
  float: left;
  background: #f15a5c;
  border-radius: 100%;
  margin-left: -53px;
}

.pricedisplay span {
  font-size: 22px;
  text-align: center;
  display: block;
  text-align: center;
  height: 80%;
  border-radius: 50%;
  border: 2px solid #ff8f91;
  color: #fff;
  width: 80%;
  margin: 8px auto;
  /* box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4); */
  position: relative;
  overflow: hidden;
  line-height: 60px;
}

.outputbox .mainpricedisplayeffect {
  width: 210px;
  height: 15px;
}

/*.outputbox .mainpricedisplayeffect .priceeffect {
    width: 49px;
    height: 15px;
    float: right;
    background: url(../images/diplayshadow.png) no-repeat;
}*/

.trolly {
  width: 205px;
  height: 190px;
  position: absolute;
  left: 30px;
  bottom: 10px;
  z-index: 999;
  background: url(../images/trolley.png) no-repeat;
  border: none;
}

#addCart {
  width: 205px;
  height: 190px;
  position: absolute;
  left: 30px;
  bottom: 10px;
  z-index: 20;
  background: none;
  border: none;
}
#addCart>ul>li>a{
  display: none;
}

#addCart h4 {
  line-height: 16px;
  margin: 0 0 0.4em;
}

#addCart h4 .ui-icon {
  float: left;
}

#addCart .shoppingCart h5 {
  display: none;
}

#addCart ul li {
  position: absolute;
  left: 80px;
  top: 25px;
  z-index: 120;
}

.ui-front {
  z-index: 999;
}

.ui-custom-icon {
  width: 18px;
  height: 17px;
  background: url(../images/Look.png) no-repeat;
  float: left !important;
  background-size: 100% 100%;
}

#popupfade {
  position: absolute;
  z-index: 130;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: none;
  opacity: 0.9;
}

.backgndd {
  width: 490px;
  height: 280px;
  background: #b8b0b0;
  left: 200px;
  top: 114px;
  position: relative;
}

#modal {
  width: 487px;
  height: 295px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  top: 82px;
  left: 200px;
  z-index: 101;
}

#heading {
  width: 470px;
  height: 44px;
  background-image: -webkit-linear-gradient(
    top,
    rgb(249, 249, 249),
    rgb(233, 233, 233)
  );
  background-image: -moz-linear-gradient(
    top,
    rgb(249, 249, 249),
    rgb(233, 233, 233)
  );
  background-image: -o-linear-gradient(
    top,
    rgb(249, 249, 249),
    rgb(233, 233, 233)
  );
  background-image: -ms-linear-gradient(
    top,
    rgb(249, 249, 249),
    rgb(233, 233, 233)
  );
  background-image: linear-gradient(
    top,
    rgb(249, 249, 249),
    rgb(233, 233, 233)
  );
  filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f9f9f9', EndColorStr='#e9e9e9');
  border-bottom: 1px solid #bababa;
  -webkit-box-shadow: inset 0px -1px 0px #fff, 0px 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px -1px 0px #fff, 0px 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px -1px 0px #fff, 0px 1px 3px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 44px;
  color: #444444;
  text-shadow: 0px 1px 0px #fff;
}

#content {
  width: 470px;
  height: 234px;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  overflow: auto;
}
#content ul li{
  width: 95px;
  left:15px;
  margin: 5px;
}

.closeBtn {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 18px;
  background: url(../images/close_btn.png) no-repeat;
  cursor: pointer;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s 2s, opacity 2s linear;
}

#cloneDiv {
  float: right;
  width: 32%;
  min-height: 18em;
  padding: 1%;
  position: absolute;
  right: 20px;
  z-index: 20;
  display: none;
}

#cloneDiv ul li {
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 120;
}

.footer {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* background: url(../images/footer1.png) no-repeat; */
}
/* @media screen and (min-width: 320px) and (max-width: 640px) {
  #shoppingCart {
    width: 185px;
    min-height: 440px;
    padding-left: 12px;
    background: none;
  }
  .shoppingCart li {
    width: 78px;
  }
  .shoppingCart li img {
    height: 40px;
}
  .mainContainer{
    height: 100%;
    width: 100%;
    margin: 5px auto;
    background-size: cover;
  }
  .pricebox{
    margin-top: 15px;
    position: fixed;
    top: 122px;
    left: 0;
    margin-left: 5px;
    background-size: 134px 40px;
  }
  .pricebox .Tprice {
    top: 7px;
    left: 16px;
  }
  .pricedisplay {
    width: 58px;
    height: 58px;
    position: fixed;
    top: 129px;
    left: 162px;
}
.pricedisplay span {
  font-size: 14px;
  height: 70%;
  width: 70%;
  margin: 8px auto;
  line-height: 36px;
}
#addCart {
  position: fixed;
  left: -17px;
  bottom: 210px;
}
#addCart ul li {
  width: 66px !important;
}
.getdropval{
  left: 43px;
  position: fixed;
    top: 450px;
}
.trolly{
  left: 5px;
  background-size: 150px 132px;
  top: 270px;
  position: fixed;
  z-index: 111;
}
  .respondent-info,
  .output-info {
    max-width: 98%;
    margin: 3px auto;
    padding: 5px 7px;
  }
  div[role=dialog]{
    width: 100% !important;
    position: fixed !important;
  }
  #modal {
    height: 273px;
    top: 108px;
    z-index: 202;
    left: unset;
    width: unset;
    position: fixed;
}
#heading{
  width: 344px;
}
#content{
  width: 344px;
  height: 210px;
}
.closeBtn{
  left: 320px;
}
#content ul li {
  width: 75px !important;
  left: 5px;
  margin: 5px;
}
#content ul li img{
height: 40px !important;
}
} */
@media screen and (min-width: 481px) and (max-width: 776px) {
  .mainContainer {
    position: relative;
    width: 100%;
    height: 615px;
    margin: 20px auto;
    overflow: none;
    background: url(../images/header_bg.jpg) top no-repeat;
  }
  .outputbox {
    width: 100%;
    height: 85px;
    padding: 25px 18px 10px 20px;
    margin: 0px;
  }
  .mainprice {
    width: 30%;
    height: 65px;
    float: left;
    margin-left: -13px;
  }
  .pricebox {
    width: 88%;
    height: 49px;
    float: left;
    background: url(../images/totaldisplay.png) no-repeat;
    margin-top: 15px;
  }
  .pricedisplay {
    width: 65px;
    height: 65px;
    float: left;
    background: #f15a5c;
    border-radius: 100%;
    margin-left: -51px;
    margin-top: 8px;
  }
  .pricedisplay span {
    line-height: 40px;
    font-size: 16px;
  }
  .shoppingCart li {
    float: left;
    margin: 0em 0.4em 0.7em 0em;
    text-align: center;
    position: relative;
    z-index: 85;
  }
  #addCart {
    width: 196px;
    height: 190px;
    position: absolute;
    left: 83px !important;
    bottom: 10px;
    z-index: 20;
    background: none;
    border: none;
  }
  #addCart ul li {
    position: absolute;
    display: list-item;
    width: 85px;
    margin: 5px;
    left: 0px !important;
    top: 20px;
    z-index: 120;
  }
  .trolly {
    width: 208px;
    height: 190px;
    position: absolute;
    left: 4px;
    max-width: 211px;
    bottom: 4px;
    z-index: 999;
    background: url(../images/trolley.png) no-repeat;
    border: none;
  }
  .respondent-info,
  .output-info {
    max-width: 98%;
  }

  #shoppingCart {
    float: right;
    width: 65%;
    min-height: 369px;
    padding-left: 8px;
    background: url(../images/shopping_shelve.png) no-repeat;
  }

  #popupfade {
    position: absolute;
    z-index: 130;
    left: -119px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: none;
    opacity: 0.9;
  }
}
/* @media screen and (min-width: 411px) and (max-width: 731px) {
  #addCart ul li {
    top: -63px ;
}
#iframeelement #addCart ul li {
	top: 0;
}
}
@media screen and (min-width: 375px) and (max-width: 667px) {
  #addCart ul li {
    top: 0px ;
}
}
@media screen and (min-width: 414px) and (max-width: 736px){
#addCart ul li {
    top: -69px;
}
#iframeelement #addCart ul li {
	top: 22px;
}
} */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mainContainer {
    position: relative;
    width: 100%;
    height: 615px;
    margin: 20px auto;
    overflow: none;
    background: url(../images/header_bg.jpg) top no-repeat;
  }
  .outputbox {
    width: 100%;
    height: 85px;
    padding: 25px 18px 10px 20px;
    margin: 0px;
  }
  .mainprice {
    width: 30%;
    height: 65px;
    float: left;
  }
  .pricebox {
    width: 88%;
    height: 49px;
    float: left;
    background: url(../images/totaldisplay.png) no-repeat;
    margin-top: 15px;
  }
  .pricedisplay {
    width: 65px;
    height: 65px;
    float: left;
    background: #f15a5c;
    border-radius: 100%;
    margin-left: 130px;
    margin-top: -58px;
  }
  .pricedisplay span {
    line-height: 46px;
    font-size: 16px;
  }
  .respondent-info,
  .output-info {
    max-width: 98%;
  }

  #shoppingCart {
    float: right;
    width: 63%;
    width: 534px;
    min-height: 369px;
    padding-left: 8px;
    background: url(../images/shopping_shelve.png) no-repeat;
  }
  #modal{
    left:350px;
  }
  .getdropval {
    left:37px
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  #modal{
    left:315px;
  }
  div[role=dialog]{
    top:365px !important;
  }
}
@media only screen and (max-width: 679px){
  #shoppingCart {
    width: 185px;
    /* min-height: 440px; */
    padding-left: 12px;
    background: none;
    height: 450px;
    overflow: auto;
  }
  .shoppingCart li {
    width: 78px;
  }
  .shoppingCart li img {
    height: 40px;
}
  .mainContainer{
    height: 100%;
    width: 100%;
    margin: 5px auto;
    background-size: cover;
  }
  .pricebox{
    margin-top: 15px;
    position: fixed;
    top: 122px;
    left: 0;
    margin-left: 5px;
    background-size: 134px 40px;
  }
  .pricebox .Tprice {
    top: 7px;
    left: 16px;
  }
  .pricedisplay {
    width: 58px;
    height: 58px;
    position: fixed;
    top: 129px;
    left: 162px;
}
.pricedisplay span {
  font-size: 14px;
  height: 70%;
  width: 70%;
  margin: 8px auto;
  line-height: 36px;
}
#addCart {
  position: fixed;
  left: -17px !important;
  bottom: 300px;
}
#addCart ul li {
  width: 66px !important;
  position: fixed;
  top: 263px;
  left: 64px !important;
}
.getdropval{
  left: 43px;
  position: fixed;
    top: 450px;
}
.trolly{
  left: 5px;
  background-size: 150px 132px;
  top: 270px;
  position: fixed;
  z-index: 111;
  width: 154px;
}
  .respondent-info,
  .output-info {
    max-width: 98%;
    margin: 3px auto;
    padding: 5px 7px;
  }
  div[role=dialog]{
    width: 100% !important;
    position: fixed !important;
  }
  #modal {
    height: 273px;
    top: 108px;
    z-index: 202;
    left: 0px;
    width: unset;
    position: fixed;
}
#heading{
  width: 344px;
}
#content{
  width: 344px;
  height: 210px;
}
.closeBtn{
  left: 320px;
}
#content ul li {
  width: 75px !important;
  left: 5px;
  margin: 5px;
}
#content ul li img{
height: 40px !important;
}
}
