
*{margin: 0px; padding: 0px; box-sizing: border-box;}
 body {
	color: #3B3B3B;
	font-family: Arial,sans-serif;
}

.clearFix:after,.clearFix:before{
	content:"";
	clear:both;
	display:block;
}
.video-container{
    width: 65%;
    margin: 10px auto;
    position: relative; 
    background: #fdfdfd;

    padding: 15px;
    border-bottom: 7px solid #b1b1b1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.15);
    -o-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.15);
  }
.ratingBlock{width: 100%; display:table; float: left; text-align: center; padding-bottom: 40px;}
video {
  display: block;
  width: 100%;
  margin: auto;
}
.video-rating-panel {
  position: relative;
}
.video-container .play {
  width: 64px;
  height: 64px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  background: rgba(249, 249, 249, 0.35);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-shadow:0 0 0 0em rgba(255, 255, 255, 1);
  -webkit-animation: phone-outer  1900ms linear infinite;
  -moz-animation: phone-outer  1900ms linear infinite;
  -o-animation: phone-outer  1900ms linear infinite;
  animation: phone-outer  1900ms linear infinite;
}
.video-container .play:after{
  content: "";
  position: absolute;
  top: 13px;
  right: 12px;
  bottom: auto;
  left: auto;
  border-width: 16px 0 16px 25px;
  border-color: transparent #ffffff;
  border-style: solid;
  display: block;
  width: 0;
}


@-webkit-keyframes phone-outer {
  0% {
    box-shadow: 0 0 0 0em rgba(255, 255, 255, 1);
}
33.3333% {
    box-shadow: 0 0 0 0em rgba(255, 255, 255, 0.9);
}
  66.6666% {
    box-shadow: 0 0 0 0.7em rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0em rgba(255, 255, 255, 0);
  }
}
@-moz-keyframes phone-outer {
  0% {
    box-shadow: 0 0 0 0em rgba(255, 255, 255, 1);
}
33.3333% {
    box-shadow: 0 0 0 0em rgba(255, 255, 255, 0.9);
}
  66.6666% {
    box-shadow: 0 0 0 0.7em rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0em rgba(255, 255, 255, 0);
  }
}
@keyframes phone-outer {
  0% {
    box-shadow: 0 0 0 0em rgba(255, 255, 255, 1);
  }

33.3333% {
    box-shadow: 0 0 0 0em rgba(255, 255, 255, 0.9);
 }
  66.6666% {
    box-shadow: 0 0 0 0.7em rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0em rgba(255, 255, 255, 0);
  }
}


.cleaAllHeitght{clear: both; height: 10px;}
.remaingTimeBlock{width: 110px; margin:0px auto; padding: 5px 10px 3px 10px; background: #FFF; text-align: center; position: relative; top: -16px; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; -ms-border-radius: 20px; border: 3px solid #D1BEBF; z-index: 22;}
.durationBlock{ display: none; }
.errormsg{color: #F40004; display: block; padding: 5px; font-size: 14px;}
.not-interested {
  color: #ff6e64;
}
.neutral{
  color: #f6911d;
}
.very-interested{
  color: #4ca916;
}
.video-container .panel{
	float:left;
}
video{  
  background-color: #000;
}
.video-container .videoPanel{
	width:70%;
}
.video-container .labelPanel{
  width:19%;
  font-size: 13px;
}
.ui-slider-label{
 color:black;
}
.video-container .sliderPanel{
	width:7%;
}
.video-container .sliderPanel #pips-slider{
  height:98%;
/*  background: rgba(39,181,11,1);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27b50b', endColorstr='#fd0c0c', GradientType=0 );
background: -moz-linear-gradient(to bottom, #3a6f09, #dfe908, #ffd465, #e76700, #720100);;
background: -webkit-gradient(to bottom, #3a6f09, #dfe908, #ffd465, #e76700, #720100);
background: -webkit-linear-gradient(to bottom, #3a6f09, #dfe908, #ffd465, #e76700, #720100);;
background: -o-linear-gradient(to bottom, #3a6f09, #dfe908, #ffd465, #e76700, #720100);;
background: -ms-linear-gradient(to bottom, #3a6f09, #dfe908, #ffd465, #e76700, #720100);;
background: linear-gradient(to bottom, #3a6f09, #dfe908, #ffd465, #e76700, #720100);*/
border-radius: 20px;
    border: 1px solid #a9a9a9;
    width: 8px;
    background: #cecece;
}
.ui-slider-vertical.ui-slider-pips .ui-slider-pip{
  left: -29px;
}
.ui-slider-vertical.ui-slider-pips .ui-slider-line{
    left: 20px;
    width: 8px;
    height: 3px;
    background: #cecece;
}

/* .ui-slider-handle.ui-state-default.ui-corner-all{
  border-top: 18px solid transparent;
  border-right: 35px solid #ff5044;
  border-bottom: 18px solid transparent;
  background: transparent;
  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: -18px; 
} */
.ui-slider-handle.ui-state-default.ui-corner-all {
 /* border-top: 20px solid transparent;
  border-right: 38px solid #dcdcdc;
  border-bottom: 17px solid transparent;
  background: transparent;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: -17px;*/
  transform: rotateZ(-45deg);
       margin-bottom: -15px;
    width: 30px;
    height: 30px;
    border-radius: 0% 50% 50%;
    border-color: rgb(249, 45, 91);
    transition: border .4s ease;
    background: #ff6588;
	margin-left: 18px;
	transition:all 0.3s linear;
	 animation:zump 0.3s ease-in;
}

.ui-slider-handle.ui-state-default.ui-corner-all:after {
    content: '';
    position: absolute;
    left: -6px;
    top: -7px;
    border-top: 5px solid transparent;
    border-right: 6px solid white;
    border-bottom: 4px solid transparent;
    background: transparent;
     transform: rotate(45deg);
	
}
.ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip-selected .ui-slider-line {
    left: 17px;
    width: 11px;
    height: 3px;
    background: #ad5d5d;
	animation:slidelbl 0.3s ease-in;
}
.lbl-zom{
	 transform: scale(1.3)!important;
	
	}
	
@keyframes slidelbl {
  0%
   {
    left: 20px;
    width: 8px;
  }
  50% {
    left: 18px;
    width: 10px;
  }
   100% {
    left: 17px;
    width: 11px;
  }
}
.ui-slider-tip{
  display: none !important;
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
/* lodaer css */
.loader,
.loader:before,
.loader:after {
  background: #f03d3d;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(11, 25, 37, 0.9372549019607843);
}
.loader {
  color: #f03d3d;
  text-indent: -9999em;
   position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.header-nav {
  /* display: inline-block; */
  display: none;
  width: 100%;
}
.back-nav{
  float: right;
  cursor: pointer;
}
.back-nav a{
  text-decoration: none;      
  color: #6d5f24;          
}
.back-nav{
  display: inline-block;
  border:1px solid #c9ae34;
  color: #705D07;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: calibri;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
  background-image: linear-gradient(to top, #fce374, #fcdf5b);
  background-color: #fce374;
}
.back-nav:hover, .back-nav:active{
  border:1px solid #967d09;
  color: #705D07;
  box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
  background-color: #fcdf5b;
}
.title-toll {
width: 98%;
font-family: Arial;
text-align: left;
font-size: 16px;
border-radius: 4px;
padding: 12px;
background: #fbfbfb;
font-weight: bold;
border-bottom: 1px solid #efefef;
box-shadow: 0 4px 5px rgba(152, 152, 152, 0.1);
margin-bottom: 25px;
color: #999;
line-height: 25px;
}


/* Desktops and laptops ----------- */
@media screen and (min-width: 320px) and (max-width:480px){
.video-container{
    width: 98%;
    padding: 20px 10px 20px;
  }
  video{  
   height: 200px;
  }
  .errormsg{
    font-size: 12px;
  }
.ui-slider-vertical.ui-slider-pips{
  margin-right: 1em;
}
.ui-slider-vertical.ui-slider-pips .ui-slider-label{
  font-size: 11px;
  margin-left: 5px;
}
div#pips-slider {
  float: right;
}
.video-container .videoPanel{
		width: 60%;
	}
.video-container .labelPanel{
	width: 29%!important;
	font-size: 10px;
  }
  .video-container .play{
    width: 45px;
    height: 45px;
  }
  .video-container .play:after{
    top: 8px;
    right: 6px;
    border-width: 11px 0 11px 20px;
  }
  .ui-slider-handle.ui-state-default.ui-corner-all:after{
    border-right: 6px solid white;
  }
  /*.ui-slider-handle.ui-state-default.ui-corner-all{
    border-right: 32px solid #dcdcdc;
  }*/
  .label-text{
    font-size: 11px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px){
	.video-container {
		width: 90%;
	}
	.video-container .videoPanel{
		  width: 65%;
	}
	.video-container .labelPanel {
		width: 25%;
  }
  .label-text{
    font-size: 11px;
  }
  .video-container .play{
    width: 45px;
    height: 45px;
  }
  .video-container .play:after{
    top: 8px;
    right: 6px;
    border-width: 11px 0 11px 20px;
  }
  video{  
    height: 200px;
   }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
.video-container {width: 720px;}
}
@media screen and (min-width: 1024px) and (max-width: 1132px){
.video-container{width: 772px;}
}
@media screen and (min-width: 1133px) and (max-width: 1600px){

}
@media screen and (min-width: 1601px) and (max-width: 1900px){
	.video-container{width: 1000px;}
	.video-container .videoPanel{
		width:60%;
	}
	.video-container .labelPanel{
		width:19%;
	}
	}
@media screen and (min-width: 1901px) and (max-width: 2400px){
	.video-container{width: 1000px; }
	.video-container .videoPanel{
	    width:60%;
	}
	.video-container .labelPanel{
	     width:19%;
	}
	
	
}
@media all and (min-width:1025px){
  .video-container .play:hover{ opacity: 0.5;}
  .video-container{
    padding-top:20px;
    padding-bottom: 20px;
  }
  
}
.video-container .labelPanel{
   	width:22%;padding-right: 20px;position: relative;
	}
 ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus,
.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover,
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
  background: #2b2b2b;
  border-color: transparent;
}                  
.ui-slider .ui-slider-pip-initial-1 .ui-slider-label {
  color: #E80949; 
}
                    
.ui-slider .ui-slider-pip-initial-2 .ui-slider-label {
  color: #920AFF; 
}

.label-text{
    position:absolute;
    right: 28px;
    text-align: right;
}
.label-text .emo-label{
  	top: -14px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.10);
	transition: transform 0.3s linear;
	}
.label-text .emo-label:hover{
	transform: scale(0.8);
	}
.labelPanel .neutral{
    right: 26px !important;
    text-align:right;
}
