*,body{margin:0px; padding:0px;}
.dataText{line-height:18px; padding-top:2px; padding-bottom:2px;}
.bordrRadiusNone{border-radius:0px; padding:2px 12px;} 
.thumbnail{text-decoration:none!important; position:relative; display:table; text-align:center;}
#image-gallery-image p{text-align:left;}
.thumb{text-align:center;}
.magni{height:inherit; position:absolute; left:0px; top:0px; right:0px; bottom:0px; z-index:999; width:100%; height:100%; color:#fff;  text-align:center; display:none;}
.thumb:hover .magni{color:#DD0C0F!important; display:block; background:url(../images/magni_icon.png) no-repeat center; width:30%; height:90%;}