

body{display: none}
h1.once_upan{
    font-size: 80px; font-weight: bold; font-family: 'Dancing Script', cursive;
    background-image: ;
    -webkit-background-clip: text;
	-ms-background-clip: text;
	-moz-background-clip: text;
    background-clip: text;
    color: #E8B74C;
	
}


