@charset "utf-8";

/* CSS Document */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Calibri;
    margin: 0px;
    padding: 0px;
}
.tool-title {
    width: 98%;
    font-family: Arial;
    text-align: left;
    font-size: 16px;
    border-radius: 4px;
    padding: 12px;
    background: #fbfbfb;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
    box-shadow: 0 4px 5px rgba(152, 152, 152, 0.1);
    margin-bottom: 25px;
    color: #999;
    line-height: 25px;
  }

.singleClickBlock {
    width: 750px;
    margin: 10px auto;
    padding: 35px 6px 32px 9px;
    background: #f8f8f8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
}

.iconBlockArea {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 0px 0px 0px 5%;
    display: inline-block;
    box-shadow: 0 8px 30px rgba(255, 193, 14, 0.3);
    border-radius: 50%;
    transition: 0.7s ease-in-out;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

.wrap-selection {
    width: calc(100% / 5);
    display: inline-block;
    vertical-align: top;
}

.iconBlockArea:hover {
    transition: 0.7s ease-in-out;
    transform: translateY(-20px);
}

/* .conSet01 {
    background: url(../images/1_icons.png) no-repeat
}

.conSet02 {
    background: url(../images/2_icons.png) no-repeat
}

.conSet03 {
    background: url(../images/3_icons.png) no-repeat
}

.conSet04 {
    background: url(../images/4_icons.png) no-repeat
}

.conSet05 {
    background: url(../images/5_icons.png) no-repeat
} */

.rating-text {
    font-weight: 600;
}

.state_0 {
    color: #ff434e;
}

.state_0:hover {
    color: #fb636c;
}

.state_1 {
    color: #f6911d;
}

.state_1:hover {
    color: #f6b365;
}

.state_2 {
    color: #ecb125;
}

.state_2:hover {
    color: #ffb45e;
}

.state_3 {
    color: #92d309;
}

.state_3:hover {
    color: #b4e255;
}

.state_4 {
    color: #3fa210;
}

.state_4:hover {
    color: #97e273;
}

.iconBlockArea .setArea {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.iconBlockArea .setAreaText {
    width: 100%;
    position: absolute;
    top: -30px;
    font-size: 1.2em;
    color: #413B3B;
}

.overlayActive {
    display: block;
    /* background: url(../images/selected_icon.png) no-repeat;
    color: #CB1E21; */
}

.slideup {
    transition: 0.7s ease-in-out;
    transform: translateY(-20px) scale(1.1);
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    box-shadow: 0 8px 50px rgba(255, 193, 14, 0.5);
}

a,
img {
    outline: none;
    border: none;
}

map>area,
map>area:active,
map>area:focus {
    outline: none;
    border: 0;
}

.fixclear {
    clear: both;
    height: 20px;
}

.header-nav {
    /* display: inline-block; */
    display: none;
    width: 100%;
}

.back-nav {
    float: right;
    cursor: pointer;
}

.back-nav a {
    text-decoration: none;
    color: #6d5f24;
}

.back-nav {
    display: inline-block;
    border: 1px solid #c9ae34;
    color: #705D07;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: calibri;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #D4D4D4;
    background-image: linear-gradient(to top, #fce374, #fcdf5b);
    background-color: #fce374;
}

.back-nav:hover,
.back-nav:active {
    border: 1px solid #967d09;
    color: #705D07;
    box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
    -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
    -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
    background-color: #fcdf5b;
}

@media all and (min-width:320px) and (max-width:480px) {
    .singleClickBlock {
        width: 95% !important;
    }
    /* .iconBlockArea {
        width: 55px;
        height: 55px;
        background-size: 100%!important;
    } */
    .rating-text {
        font-weight: 600;
        font-size: 12px;
    }
    .iconBlockArea  {
        width: 50px;
        height: 50px;
    }
    .iconBlockArea .setArea{
        width: 50px;
        height: 50px;
    }
    .setArea img{
        width: 50px;
        height: 50px;
    }
}

@media all and (min-width:481px) and (max-width:767px) {
    .singleClickBlock {
        width: 95%;
    }
    .iconBlockArea  {
        width: 70px;
        height: 70px;
        background-size: 100%!important;
    }
    .rating-text {
        font-weight: 600;
        font-size: 12px;
    }
}