* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dnd--outer--container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
  content: "";
  clear: both;
  display: table;
}
.title-toll {
  width: 100%;
  font-family: Arial;
  text-align: left;
  font-size: 16px;
  border-radius: 4px;
  padding: 12px;
  background: #fbfbfb;
  font-weight: bold;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 4px 5px rgba(152, 152, 152, 0.1);
  margin-bottom: 25px;
  color: #999;
}
.dnd--outer--container {
  width: 65%;
  margin: 0 auto;
  min-height: 500px;
  padding: 15px;
  border: 2px solid #efefef;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  box-shadow: 0px 20px 20px 10px rgba(234, 234, 234, 0.75);
}

.left--container,
.right--container {
  float: left;
  min-height: 100px;
}

.left--container {
  width: 100%;
}

.right--container .drop--outer {
  width: 33.33%;
  float: left;
  padding: 6px;
}

.right--container {
  width: 100%;
}

.dnd--outer--container ul {
  list-style-type: none;
}

/* .flexbox .dnd--outer--container ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
} */

.drag--inner {
  background-color: white;
  float: left;
  width: 20% !important;
}

.drag--item {
  border: 1px solid #ececec;
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 5px 6px;
  -webkit-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.05);
  cursor: move;
}

.drop--header {
  text-align: center;
  color: #fff;
  padding: 10px;
  margin-bottom: 0px;
  border-radius: 0px;
  font-weight: 700;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.drop--inner {
  width: 100%;
  min-height: 130px;
  border: 3px solid #0275d8;
  margin-bottom: 15px;
  padding: 5px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 12px 9px -9px #fff7f6;
  position: relative;
  overflow: hidden;
}

.drop--inner .drag--item:not(:last-child) {
  margin-bottom: 3px;
}

.drop--inner .drag--item {
  display: inline-block;
  width: auto;
}

.drop--outer .drag--item {
  background: #fff;
}

label.c-icon {
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 1%;
  padding-top: 2px;
}

label.c-icon > img {
  width: 25px;
  height: 25px;
}

.ui-droppable > .drag--item {
  padding: 4px;
}

.ui-droppable > .drag--item img {
  width: 80%;
}

.drop--inner .repple {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: rgba(255, 118, 96, 0.15);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
}

.drop--inner.selected {
  animation: shadow 0.6s ease-in;
  box-shadow: 0 0 0 rgba(255, 118, 96, 0.8);
}

.drop--inner.selected {
  animation: shadow 0.6s ease-in;
  box-shadow: 0 0 0 rgba(255, 118, 96, 0.8);
}

.drop--inner.selected .repple {
  width: 100%;
  height: 100%;
  background: rgba(255, 118, 96, 0);
  animation: backgrnd 0.6s ease-in;
}

.header-nav {
  /* display: inline-block; */
  display: none;
  width: 100%;
}

.back-nav {
  float: right;
  cursor: pointer;
}

.back-nav a {
  text-decoration: none;
  color: #6d5f24;
}

.back-nav {
  display: inline-block;
  border: 1px solid #c9ae34;
  color: #705d07;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: calibri;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  background-image: linear-gradient(to top, #fce374, #fcdf5b);
  background-color: #fce374;
}

.back-nav:hover,
.back-nav:active {
  border: 1px solid #967d09;
  color: #705d07;
  box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  background-color: #fcdf5b;
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* Desktops and laptops ----------- */

@media screen and (min-width: 320px) and (max-width: 480px) {
  .dnd--outer--container {
    width: 100%;
    padding: 0;
  }
  .left--container {
    width: 100%;
  }
  .drag--inner {
    width: 20% !important;
  }
  .drag--item img {
    width: 100%;
  }
  .right--container {
    width: 100%;
  }
  .drop--inner {
    min-height: 70px;
    background-size: 65%;
  }
  .right--container .drop--outer {
    width: 33.33%;
    float: left;
    padding: 1px;
  }
  .drag--item {
    padding: 3px;
  }
  .drop--header {
    font-size: 9px;
    padding: 5px 1px;
  }
  /*.drag--inner{width:100%}
    .left--container{width: calc(60% - 20px);}
    .right--container{width: 40%;}*/
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .dnd--outer--container {
    width: 100%;
    padding: 0 !important;
  }
  .left--container {
    width: calc(38% - 6px);
  }
  .drag--inner {
    width: 50% !important;
  }
  .drag--item img {
    width: 100%;
  }
  .right--container {
    width: 62%;
  }
  .drop--header {
    font-size: 10px;
    padding: 3px;
  }
  .drop--inner {
    min-height: 92px;
    background-size: 65%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .dnd--outer--container {
    width: 100%;
  }
  .drag--item img {
    width: 100%;
  }
  label.c-icon {
    margin-left: 1.5%;
  }
  label.c-icon > img {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .dnd--outer--container {
    width: 100%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
}
